@import '@/styles/globals'
@import '@/styles/variables'


.layout
	display: flex
	flex-direction: column
	min-height: 100vh
	width: 100%

.layout_menu
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	min-height: 100vh
	width: 100%
	// overflow-y: hidden


.menu
	min-width: max-content


.page
	flex-grow: 1

.ProgressBar
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 4px
	background: linear-gradient(81.75deg, #002A52 36.12%, #007EF5 100%) 
	transform-origin: 0%
	z-index: 30

